@import url('vars.css');
section.main {
    height: calc(100vh - 100px);
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    align-items: start;
    justify-items: center;
    padding: 0 25px;
}

section.main h2 {
    align-self: center;
    justify-self: center;
}

table {
    max-width: 80%;
    color: var(--foreground-light);
}

table, th, td {
    border: 1px solid var(--foreground-light);
    border-collapse: collapse;
}

td, th {
    padding: 0.5ex;
    font-size: 1.5em;
}


@media (prefers-color-scheme: dark) {
    section.main h2 {
        color: white;
    }

    thead > tr th, table {
        color: var(--foreground-dark);
    }

    table, th, td {
        border-color: var(--foreground-dark);
    }
}