@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('vars.css');

* {
    font-family: Roboto, sans-serif;
}

input[type='submit'], button {
    cursor: pointer;
}

input[type='submit']:hover, button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    border-radius: 5px;
    -webkit-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}

body > header, nav, article > header, nav a, header a {
    color: var(--foreground-headers);
}

body > header, nav {
    background-color: var(--headers);
    margin: 0;
}

body > header {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 1fr;
}

body {
    margin: 0;
}

header > h1 {
    justify-self: left;
    align-self: center;
    margin: 0;
    padding: 20px 0 20px 20px;
    font-size: 2.5em;
}
header > h2 {
    justify-self: right;
    align-self: center;
    padding: 0 20px;
}

header.page > h2 > a::after {
    content: "\a";
    white-space: pre;
}

nav > ul {
    margin: 0;
    padding: 20px;
}

nav {
    padding-left: 10px;
    font-size: 1.5em;
    height: 100%;
}

input:invalid {
    background-color: #ffb0b0;
}

.content {
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 250px 1fr;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}

section.lesson {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

a:hover:before {
    content: "";
    display: block;
    position: absolute;
    transform: translateX(-150%) translateY(70%) rotate(45deg);
    height: 8px;
    width: 8px;
    border: solid white;
    border-width: 3px 3px 0 0;
}

div.error {
   text-align: center;
    background-color: #ff6e6e;
    color: red;
}


@media (prefers-color-scheme: dark) {
    body > header, nav, article > header, nav a, header a {
        color: var(--foreground-dark);
    }

    section.main {
        background-color: var(--background-dark);
    }
}

@media screen and (max-width: 1650px) {
    ul > li {
        display: inline;
        margin: 0 0 0 10px;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content > nav > ul {
        display: grid;
        grid-template-columns: 150px 150px 350px;
        place-items: center;
    }

    .content > nav > ul > li > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }

    .content > nav {
        height: auto;
        border-top: 2px solid black;
        display: flex;
    }

    nav {
        padding: 0;
    }
}