@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.lesson > *, .lesson > header > * {
    margin: 0;
    place-self: center;
}
.lessons {
    display: grid;
    justify-items: center;
    padding: 20px 0;
}

div.lesson {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100px;
    width: 80%;
    background-color: white;
}

div.lesson > header {
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    div.lesson {
        background-color: #555;
        color: #EBEBEB;
    }

    section.main > h4 {
        color: #EBEBEB;
    }

    section > article {
        background-color: #737373;
    }
}

@media screen and (max-width: 1650px) {

}